<template id="template-item">
  <div class="panel panel-default">
    <div class="panel-heading">Destination</div>
    <div class="panel-body">
      <p><span id="destination-from"></span> - <span id="destination-to"></span></p>
      <p><span id="destination-popularity"></span></p>
      <flights-connections></flights-connections>
    </div>
  </div>
</template>
<template id="template-counter">
  <div id="destinations-counter" class="panel panel-default panel-vanilla">
    <div class="panel-heading">Stats</div>
    <div class="panel-body">
      <p style="margin-bottom:0;">Destinations: <span id="destinations-count">0</span></p>
    </div>
  </div>
</template>
